.overview-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    min-width: 800px;
}

.data-card {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
}

.card-title {
    background-color: #1d4a5d;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.card-title p {
    color: white;
    padding: 5px 10px;
    margin: 0;
}

.card-content {
    background-color: white;
    max-width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
}

.card-content p {
    margin: 0;
}

.projects-grid {
    background-color: white;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    min-height: 600px;
    border-radius: 5px;
}

.search-container {
    flex: 1;
    max-width: 300px; /* Ajuste conforme necessário */
}

.search-container .MuiTextField-root {
    background-color: white;
}

.admin-header{
    display: flex;
    background-color: #1d4a5d;
    height: 70px;
    justify-content: space-between;
    align-items: center;

}
.back-button-admin {
    max-width: 20px;
    margin-left: 20px;
}

.admin-logo-criarte{
    margin-right: 20px;
}
